.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .loading-spinner {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-top: 20px;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .movie-card {
    width: calc(33.33% - 20px); /* 3 cards por linha */
    margin-bottom: 20px;
    background-color: #a36464;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .movie-card h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .movie-card p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .error-message {
    color: red;
    margin-top: 20px;
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* cor e espessura da borda */
    border-top: 4px solid #333; /* cor da parte superior da borda (parte visível do spinner) */
    border-radius: 50%; /* para fazer o círculo */
    width: 30px; /* largura */
    height: 30px; /* altura */
    animation: spin 1s linear infinite; /* animação de rotação */
    margin: 0 auto; /* centralizar horizontalmente */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* rotação inicial */
    }
    100% {
      transform: rotate(360deg); /* rotação completa */
    }
  }