.movie-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .movie-card img {
    width: 100px;
    height: 150px;
    margin-right: 20px;
  }
  
  .movie-details {
    flex-grow: 1;
  }
  
  .movie-details h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .movie-details p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }

  * {
    background-color: gray;
  }

  h2 {
    background-color: aquamarine;
  }